body{
    height: 100vh;
    width: 100ww;
    background: rgb(94,253,255);
    background: linear-gradient(0deg, rgba(94,253,255,1) 0%, rgba(235,181,234,1) 100%);
}

.titulobrabo{
    justify-content: center;
    display: flex;
    color: white;
}

.teste1{
    margin-left: 50px;
    display: flex;
    justify-content: center;
}

.alinhamento{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
