body{
    height: 100vh;
    width: 100ww;
    background: rgb(0,252,255);
    background: linear-gradient(0deg, rgba(0,252,255,1) 0%, rgba(238,166,238,1) 100%);
}

.titulobrabo{
    justify-content: center;
    display: flex;
    color: white;
}

.teste1{
    justify-content: center;
    display: flex;
    padding: 0 50;
}